<nav class="navbar">
  <a href="/" class="logo"><img src="images/logo site.png" alt="Logo" width="50" height="50"></a>
</div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/services">Services</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/add and update">add and update</a></li>
    <li><a href="/business contacts">Buisness contacts</a></li>
  </ul>
</nav>
