<!-- about.ejs -->

<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>

</head>

<body>
    <!-- Include the navigation bar -->
    <%- include('partials/navigation') %>

        <h1>About Me</h1>

        <div class="profile">
            <img src="images/Aesha.png.jpg" alt="Profile Picture" class="projectimage">
            <h2>Legal Name: Aesha Patel</h2>
            <p>I am a passionate and dedicated professional with expertise in web development. I have a strong background in HTML, CSS, and JavaScript. Over the years, I have worked on various web projects, gaining experience in front-end development and
                user experience design. I strive for excellence in every project I undertake and always seek to expand my knowledge and skills.</p>
            <a href="documents/resume.pdf" target="_blank">Download Resume (PDF)</a>
        </div>

        <!-- Include your footer or other sections here -->
</body>

</html>