<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <!-- Include your CSS and other head elements here -->
</head>

<body>
    <!-- Include your navigation partial -->
    <%- body %>
        <!-- Include your JavaScript and other scripts here -->
</body>

</html>