

  <!-- projects.ejs -->
    <!-- Include the navigation partial -->
  
    <%- include('partials/navigation') %> 

<h1>Projects</h1>
<head>
  <title><%= title %></title>
</head>

<div class="project">
  <img src="images/csharp.png" alt="Project 1 Image" class = "projectimage">
  <h2>C sharp </h2>
  <p>I built a windows C# application for a pizza store.</p>
  <p>Role: Developer.</p>
  <p>Brushed up my csharp skils</p>
</div>

<div class="project">
  <img src="images/web dev.png" alt="Project 2 Image" class = "projectimage">
  <h2>Web Development</h2>
  <p>Built a static website for real estate agency using html CSS.</p>
  <p>Role: Developer.</p>
  <p>Learned more about html and css </p>
</div>

<div class="project">
  <img src="images/Flutter.png" alt="Project 3 Image" class = "projectimage">
  <h2>Application</h2>
  <p>Made a bucket list Flutter Application</p>
  <p>Developer</p>
  <p>Exlored a new language dart which is very fun</p>
</div>
