
  <!-- services.ejs -->
   
  <!-- Include the navigation partial -->
  
  <%- include('partials/navigation') %> 

<h1>Services</h1>
<head>
  <title><%= title %></title>
</head>

<div class="service">
  <img src="images/general programming.png" alt="Service 1 Image" class="projectimage">
  <h2>General Programming</h2>
  <p>All the programming related services</p>
</div>

<div class="service">
  <img src="images/Web Development.png" alt="Service 2 Image" class="projectimage">
  <h2>Web Development</h2>
  <p>Make multiple pages website as well as hosting</p>
</div>

<div class="service">
  <img src="images/app dev.png" alt="Service 3 Image" class="projectimage">
  <h2>Mobile Apps</h2>
  <p>All types of Mobile Applications, and all languages</p>
</div>
